/* 
/* Main section container */
.about-us {
  padding: 50px;
  background-color: #000000;
  padding-top: 3%;
  

}

/* Columns container */
.column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}


/* Column styles */
.column {
  flex: 1;
  margin-bottom: 30px;
  background-color: #000000;
  padding: 20px;
  box-shadow: 0 5px 8px 7px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding-left: 10px;

}

/* About Us Title */
.about-us-title {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;

}

.columna{
  margin-bottom:8%;
}

/* About Us Paragraphs */
.about-us-paragraph {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.last-paragraph {
  margin-bottom: 0;
}

/* About Us Subtitle with FontAwesome Icon */
.about-us-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 50px;
}

/* FontAwesome Icon */
.about-us-subtitle .svg-inline--fa {
  margin-right: 10px;
  color: #007bff; /* You can change the icon color here */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .column {
    flex: 100%;
  }
}
