/* ContactForm.css */

/* Set the background color to black */
body {
  background-color: #000000;
}

.contacto{
color: #fff;
font-size: 40px;
text-align: center;
margin-top: 12%;
margin-bottom: 5%;
}

form {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #333; /* Darker border color */
  border-radius: 5px;
  background-color: #111; /* Darker background color */
}

div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  color: #fff; /* White label text color */
}

input,
textarea {
  width: 90%;
  padding: 10px; /* Smaller padding for a more modern look */
  border: 1px solid #444; /* Darker border color */
  border-radius: 5px;
  background-color: #222; /* Darker background color */
  color: #fff; /* White text color */
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition for hover effect */
}

button:disabled {
  background-color: #555; /* Darker color for disabled button */
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.success-message {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* Additional Styling */
/* Customize other elements as needed to match the modern black theme */
/* For example, you can add styles for the header, footer, or other sections */
