/* ContactForm styles */

.contact-form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-title {
  font-size: 28px; /* Increased the font size for the title */
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: bold;
  margin-bottom: 8px; /* Reduced the margin for a more compact look */
}

.form-input,
.form-textarea {
  padding: 12px; /* Increased the padding for better spacing */
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease; /* Added a transition effect for smoother interaction */
}

.form-textarea {
  resize: vertical;
}

.form-button {
  padding: 12px 24px; /* Increased the padding for a more prominent button */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Added a transition effect for smoother interaction */
}

.form-button:hover {
  background-color: #0056b3;
  /* Added a slight color change on hover for visual feedback */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow on hover */
}

/* Added a media query for responsive design */
@media screen and (max-width: 768px) {
  .contact-form-container {
    max-width: 100%; /* Adjusted the max-width for smaller screens */
    padding: 16px; /* Added some padding to improve spacing on smaller screens */
  }

  .form-title {
    font-size: 24px; /* Reduced the font size for the title on smaller screens */
  }

  .form-input,
  .form-textarea {
    padding: 10px; /* Reduced the padding on smaller screens */
  }

  .form-button {
    padding: 10px 20px; /* Reduced the padding on smaller screens */
  }
}
