/* HeroSection.css */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  

  .hero-content p {
    font-size: 20px;
    color: #555;
    margin-bottom: 25px;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .hero-description {
    flex: 1;
    margin-left: 40px;
  }
  
  .hero-description h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .hero-description p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .hor{
    font-size:60px;
    margin-bottom: 25px;
  }

  .fotito {
    width: 100%;
  }

  .her{
    margin-right: 30%;
  }
  
  .hero-description ul {
    list-style: none;
    padding-left: 20px;
  }
  
  .hero-description li {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
  }
  