/* HeroSection.css */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #000000;
    color: #fff;
  }

  

  .hero-content p {
    font-size: 18px;
    color: #555;
    margin-bottom: 25px;
    line-height: 24px;

  }

  .hero-content{
    margin-bottom:19%;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #082646;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .hero-image img {
    max-width: 95%;
    border-radius: 60%;
    padding-bottom: 50%;
  

  }

  .hero-description {
    flex: 1;
    margin-left: 40px;
  }
  
  .hero-description h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .hero-description p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  .hor{
    font-size:55px;
    margin-bottom: 25px;
  }

  .fotito {
    width: 100%;
  }

  .her{
    margin-right: 30%;
  }
  
  .hero-description ul {
    list-style: none;
    padding-left: 20px;
  }
  
  .hero-description li {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
  }
  