/* Navbar.css */
.navbar {
  background-color: #000000;
  padding: 10px;
  top: 0; /* Add this line to position it at the top */
  left: 0; /* Add this line to position it at the left */
  width: 100%; /* Add this line to make it span the entire width */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  padding: 5px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #555;
}

.active-link {
  font-weight: bold;
  color: #007bff;
}
