/* services.css */

.services {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 40px 30px;
    margin-top: 4%;

  }

  .koliko{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
 
  }

  .gallo{
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #918a8a;
    line-height: 50px;
    margin-bottom: 50px;
  }

  
  .service-package {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
  }

  .service-package {
    position: relative; /* Set the container as a reference for absolute positioning */
  }
  
  .service-package.most-popular .most-popular-badge {
    position: absolute;
    top: -10px; /* Adjust the top value to control the vertical positioning above the title */
    left: 50%;
    transform: translateX(-50%); /* Center the badge horizontally */
    background-color: #007bff;
    color: #fff;
    font-size: 1.4rem;
    padding: 6px 12px;
    border-radius: 20px;
    display: inline-block;
  }
  
  
  .service-package h2 {
    font-size: 30px;
   

  }
  
  .service-package p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #918a8a;
    
  }
  
  .service-package ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
  }
  
  .service-package li {
    position: relative; /* Add relative positioning */
    font-size: 1.1rem;
    line-height: 1.4;
    color: #918a8a;
    padding-left: 30px; /* Add space for the tick mark */
  }
  
  .service-package li::before {
    content: "\2713"; /* Unicode for checkmark */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #007bff; /* Tick mark color */
  }
  
  .service-package button.btn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .service-package button.btn:hover {
    background-color: #0056b3;
  }
  
  /* Styling for the "most-popular" package */
  .service-package.most-popular {
    background-color: #f0f8ff;
    border: 2px solid #007bff;
  }
  
  .service-package.most-popular h2 {
    color: #007bff;
  }
  
  .service-package.most-popular button.btn {
    background-color: #007bff;
  }
  
  .service-package.most-popular button.btn:hover {
    background-color: #0056b3;
  }
  